.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--primary);
    width: 100%;
}

.header__inner {
    display: flex;
    width: 100%;
    padding: 0 1rem 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
}

.nav-toggle {
    display: none
}

.nav-toggle:checked~.nav {
    transform: translateX(3px);
}


.nav-toggle-label {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    color: var(--accent);
    margin-top: -1rem;
}

.nav {
    display: flex;
    margin-top: 18rem;
    align-items: center;
    position: fixed;
    background: var(--primary);
    border: 3px solid var(--accent);
    border-top: none;
    border-left: none;
    border-bottom-width: 2px;
    flex-direction: column;
    gap: 0;
    transform: translateX(-120%);
    transition: transform .75s ease;
    width: calc(100% + 1.5rem);
    margin-left: -1.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.nav a {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-top: 2px solid var(--accent);
    width: 100%;
    text-align: center;
    color: var(--secondary);
    padding-right: 4rem;
}

.nav a:first-of-type {
    border-top-right-radius: 20px;
}

.logo {
    min-width: 14rem;
    cursor: pointer
}

.logo:hover {
    opacity: 0.8;
}

.scrolled {
    border-bottom: 3px solid var(--primary);
}

@media screen and (min-width: 350px) {
    .logo {
        font-size: var(--step-1);
    }
}

@media screen and (min-width: 1024px) {

    .logo {
        min-width: 24rem;
    }

    .header {

        border-bottom: 1px solid var(--secondary);
    }

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        margin-top: 0;
        position: relative;
        border: none;
        gap: 20px;
        flex-direction: row;
        transform: translateX(0);
        margin-left: 0;
        box-shadow: none;
        background: transparent;
        justify-content: flex-end;
    }

    .nav a {
        padding: 0;
        border: none;
        width: auto;
    }

    .nav a:hover {
        color: var(--accent);
    }


    .nav-toggle {
        display: none
    }

    .nav-toggle-label {
        display: none;
    }


}


@media screen and (min-width: 1024px) {


    .header__inner {
        padding-left: 3rem;
        padding-right: 3rem;
        min-height: 7rem;
    }
}


@media screen and (min-width: 1280px) {

    .nav a {
        font-weight: 500;
    }

    .logo {
        height: 3rem;
    }

    .nav {
        gap: 50px;
    }

}